<header class="header">
  <p class="logo" routerLink="/home">Filed.</p>
  <div class="user">
    <img src="assets/img/profile-1.jpg" alt="profile image" class="user__img" />
    <div class="user__details">
      <p class="user__details--main">Sally M.</p>
      <p class="user__details--sub">Business Profile</p>
    </div>
  </div>
</header>
