@import '../../partials/mixins';
@import '../../partials/variables';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  border-bottom: $border-grey;
  position: fixed;
  top: 0;
  z-index: 10;
}
.logo{
    $font-props: 2.4rem, bold, $color-primary, 1.6rem;
    @include text($font-props...);
}
.user{
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 2rem;
    }

    &__img{
        @include roundedImg(4rem)
    }
    &__details{
        &--main {
            $font-props: 1.4rem, 500, $color-primary, 1.6rem;
            @include text($font-props...);
          }
          &--sub {
            $font-props: 1.2rem, 400, $color-primary, 1.6rem;
            @include text($font-props...);
          }
    }
}
