//FORMS
.form {
    &__input {
      width: 100%;
      height: 5.7rem;
      background: rgba(255, 255, 255, 0.6);
      padding: 2rem 1.6rem;
      padding-bottom: 1rem;
      border: 1px solid #e8ebf2;
      box-sizing: border-box;
      border-radius: 0.6rem;
      $font-props: 1.6rem, 500, $color-primary, 1.9rem;
      font-family: 'DM Sans', sans-serif !important;
      @include text($font-props...);
      &:focus {
        outline: none;
        border-color: $color-purple-light;
        box-shadow: 0 0 0 0.2rem $color-purple-lightest-1;
      }
      &::placeholder {
        $font-props: 1.4rem, 500, rgba($color-primary, 0.4), 1.7rem;
        @include text($font-props...);
      }
      &.dirty {
        border-color: #FF6A6A !important;
      }
    }
}

.input {
    &__heading {
      $font-props: 1.2rem, 500, rgba($color-primary, 0.4), 1.4rem;
      @include text($font-props...);
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-bottom: 1.6rem;
    }
  
    &__group {
      &--inline {
        display: flex;
        align-items: center;
        & > :not(:last-child) {
          margin-right: 2.4rem;
        }
      }
  
      &--append {
        position: relative;
        & svg,
        .svg-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 1.5rem;
        }
        & .form-input:focus path {
          fill: $color-purple-light;
        }
      }
  
      &--prepend {
        position: relative;
        & svg,
        .svg-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 1.5rem;
        }
        & .form-input:focus path {
          fill: $color-purple-light;
        }
      }
      &--rel {
        position: relative;
  
        & > .form__input:placeholder-shown {
          padding-bottom: 2rem;
        }
  
        & > .form__input:placeholder-shown + label {
          font-size: 1.4rem;
          transform: translateY(-50%);
        }
  
        & label {
          position: absolute;
          top: 50%;
          left: 1.6rem;
          $font-props: 1.2rem, 500, rgba($color-primary, 0.4), 1.7rem;
          @include text($font-props...);
          transform: translateY(-2rem);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  
}

//BUTTONS

.btn{
    $font-props: 1.6rem, 500, $color-primary, 1.9rem;
    @include text($font-props...);
    padding: 1.2rem 2.4rem;
    border-radius: 0.6rem;
    cursor: pointer;
    white-space: nowrap;
    &:focus {
      outline: unset;
    }
    
    &--transparent{
        border: 1px solid $color-purple-light;
        background: $color-primary;
        color: #fff;
        transition: all .2s ease-in;
        &:hover{
          background-color: $color-purple-lightest-1;
          color: $color-primary;
        }
    }
    &--purple {
        border: unset;
        background-color: $color-purple-light;
        color: #fff;
        transition: all 0.2s ease-in;
        & path {
          fill:#fff;
        }
        & > :not(:last-child) {
          margin-right: 1.2rem;
        }
        &:hover {
          color:#fff;
        }
    }
}

//UTILITIES
.U-text-danger{color: #FF6A6A !important;}