@mixin text($size, $weight, $color, $line-height) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $line-height;
}
  
@mixin roundedImg($sides) {
    height: $sides;
    width: $sides;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}