html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    line-height: 1.65;
    font-family: 'DM Sans', sans-serif !important;
}

.heading-4 {
    $font-props: 3.2rem, 400, $color-primary, 2.4rem;
    @include text($font-props...);
}

.heading-3 {
    $font-props: 2.4rem, 400, $color-primary, 2.4rem;
    @include text($font-props...);
}