$color-primary: #1a234e;
$color-primary-1: #7b83ae;
$color-purple-light: #6c61e1;
$color-purple-light-1: #8261e1;
$color-purple-lightest: #f0effc;
$color-purple-lightest-1: #eeedff;

$border-grey: 1px solid #eaeef7;