@import '../../partials/mixins';
@import '../../partials/variables';

.section{
    max-width: 112rem;
    margin: 0 auto;
}
.payment-info-form {
    &__container {
      margin: 13rem 0;
    }

    &__card {
      max-width: 45rem;
      padding: 6rem 4rem;
      background: #fff;
      border-radius: 2.4rem;
      margin: 0 auto;
      margin-bottom: 4rem;
    }
    &__heading {
      $font-props: 3.2rem, 600, $color-primary, 4.4rem;
      @include text($font-props...);
      text-align: center;
      margin-bottom: 2rem;
    }
    &__sub-heading {
      $font-props: 1.6rem, 500, rgba($color-primary, 0.6), 140%;
      @include text($font-props...);
      text-align: center;
      margin-bottom: 6rem;
    }
    &__footer {
      &--text {
        $font-props: 1.3rem, 500, #babdca, 140%;
        @include text($font-props...);
        text-align: center;
      }
      &--link {
        $font-props: 1.3rem, 500, #babdca, 140%;
        @include text($font-props...);
        text-decoration: none;
      }
    }
    .u-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.2rem;
    }
    .input__group--prepend {
      & input {
        padding-left: 5rem;
      }
      label {
        left: 5rem;
      }
    }
    .form > * {
      margin-bottom: 2rem;
    }

  }
.btn{
    width: 100%;
    text-align: center;
    &:disabled {
      background: #f5f7fa;
      color: #99a3b6;
      border-color: #99a3b6;
      cursor: not-allowed;
    }
}