<section class="section payment">
    <div class="payment-info-form">
          <main class="payment-info-form__card">
            <h5 class="payment-info-form__heading">Payment Information</h5>
            <p class="payment-info-form__sub-heading">Please complete below:</p>
            <form [formGroup]="paymentForm"  class="form">
              
              <div class="input-container">
                <div class="input__group--rel">
                  <input
                    type="text"
                    class="form__input"
                    id="name"
                    placeholder=" "
                    formControlName="cardHolder"
                    [class.dirty]="isRequiredError(cardHolder)"
                  />
                  <label for="Email" class="form__label">Card Holder Name</label>
                </div>
                <small class="U-text-danger">
                  <span
                    *ngIf="isRequiredError(cardHolder)"
                  >
                    Card holder name is required
                  </span>
                </small>
              </div>
              <div class="input-container">
                <div class="input__group input__group--rel input__group--prepend">
                  <input
                    type="text"
                    id="card-no"
                    class="form__input"
                    placeholder=" "
                    formControlName="cardNumber"
                    [class.dirty]="isRequiredError(cardNumber) || isNotNumber(cardNumber)"
                  />
                  <label for="card-no" class="form__label">Card number</label>
                  <div class="svg-icon">
                    <img src="./assets/svg/cc-icon.svg" alt="credit card icon" />
                  </div>
                </div>
                <small class="U-text-danger">
                  <span
                    *ngIf="isRequiredError(cardNumber)"
                  >
                    Card Number is required
                  </span>
                </small>
                <small class="U-text-danger">
                  <span
                    *ngIf="isNotNumber(cardNumber)"
                  >
                    Card Number must be a number
                  </span>
                </small>
              </div>
              <div class="u-grid">
                <div class="input-container">
                  <div class="input__group input__group--rel input__group--prepend">
                    <input
                      type="text"
                      class="form__input"
                      placeholder=" "
                      id="expiry"
                      formControlName="expiry"
                      size="7"
                      [class.dirty]="isRequiredError(expiry) || isInvalidError(expiry)"
                      (keypress)="expiryDateHandler($event)"
                    />
                    <label for="expiry" class="form__label"
                      >Expiry date</label
                    >
                    <div class="svg-icon">
                      <img src="./assets/svg/calender.svg" alt="calender icon" />
                    </div>
                  </div>
                  <small class="U-text-danger">
                    <span
                      *ngIf="isRequiredError(expiry)"
                    >
                    Expiry date is required
                    </span>
                  </small>
                  <small class="U-text-danger">
                    <span
                      *ngIf="isInvalidError(expiry)"
                    >
                    Expiry date is invalid
                    </span>
                  </small>
                </div>
                <div class="input-container">
                  <div class="input__group input__group--rel input__group--prepend">
                    <input
                      type="text"
                      class="form__input"
                      placeholder=" "
                      id="security"
                      size="3"
                      formControlName="cvv"
                      [class.dirty]="isNotNumber(cvv) || isMinLength(cvv) || isMaxLength(cvv)"
                    />
                    <label for="security" class="form__label"
                      >CVV</label
                    >
                    <div class="svg-icon">
                      <img
                        src="./assets/svg/security-code.svg"
                        alt="security lock icon"
                      />
                    </div>
                  </div>
                  <small class="U-text-danger">
                    <span
                      *ngIf="isNotNumber(cvv)"
                    >
                      cvv must be a number
                    </span>
                  </small>
                  <small class="U-text-danger">
                    <span
                      *ngIf="isMinLength(cvv) || isMaxLength(cvv)"
                    >
                      cvv must have a length of 3
                    </span>
                  </small>

                </div>
              </div>
              <!-- AMOUNT INPUT -->
              <div class="input-container">
                <div class="input__group--rel">
                  <input
                    type="number"
                    class="form__input"
                    id="name"
                    placeholder=" "
                    formControlName="amount"
                    [class.dirty]="isRequiredError(amount) || isAmountMin(amount)"
                  />
                  <label for="Email" class="form__label">Amount</label>
                </div>
                <small class="U-text-danger">
                  <span
                    *ngIf="isRequiredError(amount)"
                  >
                    Amount is required
                  </span>
                </small>
                <small class="U-text-danger">
                  <span
                    *ngIf="isAmountMin(amount)"
                  >
                    Amount is must be greater than 0
                  </span>
                </small>
              </div>
            </form>
            <button
              class="btn btn--purple"
              (click)="submit(paymentForm.value)"
              [disabled]="paymentForm.invalid || loading"
            >
              <span>Make payment</span>
              <span *ngIf="loading">
                <app-global-loader
                  [diameter]="20"
                  [inline]="true"
                ></app-global-loader>
              </span>
            </button>
          </main>
    </div>
</section>