<section class="section">
    <div class="hero">
        <p class="hero__text">Balance</p>
        <div class="hero__details">
            <p class="hero__details--main">{{balance | currency}}</p>
            <button class="btn btn--transparent" [routerLink] = "['/payments']">Make payment</button>
        </div>
    </div>

    <div class="section transactions">
        <h4 class="heading-4 transactions__heading">Transactions</h4>
        <div class="transactions__container">
            <table mat-table [dataSource]="dataSource" >


            <!-- Card Holder Column -->
            <ng-container matColumnDef="holder">
                <th mat-header-cell *matHeaderCellDef> Card Holder </th>
                <td mat-cell *matCellDef="let element"> {{element.cardHolder | titlecase}} </td>
            </ng-container>

            <!-- Card Number Column -->
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> Card Number </th>
                <td mat-cell *matCellDef="let element"> {{element.cardNumber}} </td>
            </ng-container>

            <!-- CVV Column -->
            <ng-container matColumnDef="cvv">
                <th mat-header-cell *matHeaderCellDef> CVV </th>
                <td mat-cell *matCellDef="let element"> {{element.cvv}} </td>
            </ng-container>

            <!-- Expiry Column -->
            <ng-container matColumnDef="expiry">
                <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
                <td mat-cell *matCellDef="let element"> {{element.expiry | date: "medium"}} </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount | currency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div
            *ngIf="transactions.length === 0"
            style="margin: auto; text-align: center; padding-bottom: 20px"
            >
            No data available.
          </div>
        </div>
    </div>
</section>

