@import '../../partials/mixins';
@import '../../partials/variables';

.section{
    max-width: 112rem;
    margin: 0 auto;
}

.hero{
    padding: 4rem;
    background-color: $color-primary;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-bottom: 5rem;
    & >:not(:last-child){
        margin-bottom: 1.5rem;
    }
    &__heading{
        $font-props: 1.6rem, 500, #fff, 1.8rem;
        @include text($font-props...);
    }
    &__text{
        $font-props: 1.8rem, 500, #fff, 2.4rem;
        @include text($font-props...);
    }
    &__details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--main{
            $font-props: 5.2rem, 400, #fff, 3.2rem;
            @include text($font-props...);
        }
    }
}
.transactions{
    &__heading{
        margin-bottom: 2.4rem;
    }
    table {
        width: 100%;
        white-space: unset;
      }
      
      .mat-header-cell {
        font-size: 1.2rem;
        color: #737a8d;
      }
      
      th.mat-header-cell,
      td.mat-cell,
      td.mat-footer-cell {
        padding: 0 1rem;
        font-weight: 400;
        border-bottom: 0.7px solid #e2e4ec;
      }
}

table {
  width: 100%;
}